## Knji≈ænica `pandas`

## Library `pandas`

In [1]:
import pandas as pd
data = pd.read_table('../data/athletes.tab', skiprows=[1])

##### Odgovor 1-2-1

##### Answer 1-2-1

In [2]:
subset = data[(data['gold_medals'] > 0 ) & (data['silver_medals'] > 0 )]
subset

,age,birthdate,gender,height,name,weight,gold_medals,silver_medals,bronze_medals,total_medals,sport,country
214,24,1989-06-18,Female,1.65,Anna Fenninger,64,1,1,0,2,Alpine Skiing,Austria
424,26,1987-07-22,Female,1.62,Charlotte Kalla,59,1,2,0,3,Cross-Country,Sweden
911,27,1986-04-01,Female,1.68,Irene Wust,63,1,2,0,3,Speed Skating,Netherlands
1062,33,1980-03-19,Male,1.81,Johan Olsson,68,1,1,0,2,Cross-Country,Sweden
1407,28,1985-11-25,Male,1.83,Marcus Hellner,75,1,1,0,2,Cross-Country,Sweden
1419,29,1984-11-24,Female,1.82,Maria Hoefl-riesch,78,1,1,0,2,Alpine Skiing,Germany
1482,25,1988-09-14,Male,1.85,Martin Fourcade,75,2,1,0,3,Biathlon,France
2173,17,1997-01-30,Female,1.75,Sukhee Shim,56,1,1,0,2,Short Track,Korea
2183,27,1986-04-23,Male,1.87,Sven Kramer,83,1,1,0,2,Speed Skating,Netherlands

##### Odgovor 1-2-2

##### Answer 1-2-2

In [3]:
data['bmi'] = data['weight'] / (data['height']) ** 2

##### Odgovor 1-2-3

##### Answer 1-2-3

In [4]:
data.groupby('sport')['age'].mean().sort_values(ascending=False)

sport
Curling             31.285714
Bobsleigh           28.781065
Skeleton            27.673913
Cross-Country       27.086806
Ice Hockey          26.854390
Biathlon            26.668342
Nordic Combined     26.132075
Speed Skating       25.798817
Alpine Skiing       25.139073
Luge                24.728972
Snowboard           24.700000
Freestyle Skiing    24.199153
Ski Jumping         24.163043
Short Track         23.942308
Name: age, dtype: float64

##### Odgovor 1-2-4

##### Answer 1-2-4

In [5]:
born_in_80s = data[(data['birthdate'] >= '1980') & (data['birthdate'] < '1990')]
born_in_80s

,age,birthdate,gender,height,name,weight,gold_medals,silver_medals,bronze_medals,total_medals,sport,country,bmi
1,27,1986-05-14,Male,1.85,Aaron March,85,0,0,0,0,Snowboard,Italy,24.835646
10,29,1984-09-18,Male,1.82,Adrien Theaux,80,0,0,0,0,Alpine Skiing,France,24.151673
14,29,1984-11-11,Female,1.73,Agnieszka Szymanczak,59,0,0,0,0,Cross-Country,Poland,19.713322
20,26,1987-07-28,Female,1.69,Aimee Watson,60,0,0,0,0,Cross-Country,Australia,21.007668
24,31,1982-09-28,Male,1.94,Aivar Rehemaa,78,0,0,0,0,Cross-Country,Estonia,20.724838
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469,25,1988-02-24,Male,1.85,Ziga Jeglic,76,0,0,0,0,Ice Hockey,Slovenia,22.205990
2470,25,1989-01-01,Male,1.85,Ziga Pance,89,0,0,0,0,Ice Hockey,Slovenia,26.004383
2471,28,1985-04-30,Male,1.93,Ziga Pavlin,98,0,0,0,0,Ice Hockey,Slovenia,26.309431
2472,31,1982-12-05,Female,1.70,Zina Kocher,60,0,0,0,0,Biathlon,Canada,20.761246
2473,28,1985-06-14,Female,1.68,Zoe Gillings,65,0,0,0,0,Snowboard,Great Britain,23.030045